{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container d-flex justify-content-center align-items-center" style="min-height: 65vh;">
        <div class="card shadow p-4" style="width: 400px;">
            <div class="text-center mb-4">
                <img src="{% static 'images/logo.png' %}" alt="FacilityForge Logo" width="80" height="80"
                     class="rounded-circle mb-3">
                <h2>Are you sure you want to delete "{{ object }}"?</h2>
            </div>

            <form method="post">
                {% csrf_token %}
                <div class="d-flex justify-content-center gap-3">
                    <button type="submit" class="btn btn-primary">Yes, delete</button>
                    <a href="{% url 'edit-team' object.pk %}" class="btn btn-danger">Cancel</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}