{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

    <div class="container d-flex justify-content-center align-items-center" style="min-height: 65vh;">
        <div class="card shadow p-4" style="width: 400px;">

            <div class="text-center mb-4">
                <img src="{% static 'images/logo.png' %}" alt="FacilityForge Logo" width="80" height="80"
                     class="rounded-circle mb-3">
                <h2 class="h4">Change your password</h2>
            </div>

            <!-- Error Alert -->
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    Please fix the errors below.
                </div>
            {% endif %}
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}

                {% for field in form %}

                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {% render_field field class="form-control" %}
                        {% if field.errors %}
                            <div class="invalid-feedback d-block">
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>

                        {% endif %}
                    </div>
                {% endfor %}
                <br>
                <!-- Submit Button -->
                <div class="mb-3, d-grid">
                    <button type="submit" class="btn btn-primary" style="background-color: #00D1B2; border: none">
                        Update Password
                    </button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}